<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link href="{{ url_for('static', filename='/css/styles.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/libs/apexcharts/dist/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/libs/simplebar/dist/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/sidebarmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/dashboard.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    {% block css %} {% endblock %}
    {% block js %} {% endblock %}
</head>
<body>
    {% block header %}
        {% include 'layout/header.html' %}
    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block footer %}
        {% include 'layout/footer.html' %}
    {% endblock %}
</body>
</html>